#drum-machine {
    position: absolute;
    width: 600px;
    background: purple;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    border-radius: 1em;
}

.parent {
   display: flex; 
   justify-content: center;
}

div.button {
    margin: 10px;
    padding: 0.7em;
    background-color: rgb(51, 51, 51);
    color: white;
    user-select: none;
}

div.btn:hover {
    background-color: rgb(51, 51, 51)!important;
}

div.press{
    background-color: brown!important;
}
